.project-box {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.project-tech-stack {
  padding: 5px;
  border: solid;
  border-radius: 15px;
}

.project-name {
  padding-bottom: 10px;
}

.project-description {
  padding-bottom: 10px;
}
